{% extends 'base.html' %}
{% block content %}
      <br>
      <h3>Welcome</h3>
      <hr>
      <span class="text-info">Company Name: </span> <span>{{ company }}</span>
      <br>
      <span class="text-info">User Name: </span> <span>{{ user }}</span>
      <br>
      <span class="text-info">Email: </span> <span>{{ email }}</span>
      <br>
     <span class="text-info">Account Number: </span> <span>{{ account_number }}</span>
      <br>
     <span class="text-info">BSB: </span> <span>{{ bsb }}</span>
      <br>
{% endblock %}