<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'payment_gateway/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'payment_gateway/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'payment_gateway/css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="{% url 'login_view' %}">
					{% csrf_token %}
					<span class="login100-form-title p-b-26">
						Easy Pay
					</span>
					<br>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						{{ form.username.label_tag}}
						{{ form.username }}
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						{{ form.password.label_tag}}
						{{ form.password }}
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{% url 'registration_view' %}">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>